brand_blue = #0dc4d6

*
    box-sizing border-box

.landing
    background-color #fefefe
    font-family sans-serif
    // width 100vw
    height 100vh
    padding 0
    margin 0
    
    &__section
        padding 2rem
        @media screen and (min-width: 1281px)
            padding-left 15%
            padding-right 15%
        @media screen and (min-width: 752px) and (max-width: 1280px)
            padding-left 2%
            padding-right 2%
        padding-left 0
        padding-right 0 
        &.--title
            @extend .landing__section
            @media screen and (min-width: 1281px)
                font-size 2rem
            @media screen and (min-width: 752px) and (max-width: 1280px)
                font-size 1.5rem
            @media screen and (max-width: 751px)
                font-size 1rem
            color white
            text-align center
            text-transform uppercase
            letter-spacing 0.2rem
            font-weight 700
            padding-top 8rem
            padding-bottom 8rem
            background-color brand_blue
            h1, h4
                margin 0
            p
                font-size 60%
            img 
                margin 1rem auto
                display block 
                height 8rem
                padding 1rem
        &.--points
            @extend .landing__section
            background url(/cat-enclosures-demo/assets/bg2.png) no-repeat center center fixed
            background-size cover
            color white
            font-weight 900
        
        &.--navigation
            @extend .landing__section
            text-align center
            padding-left 2rem
            padding-right 2rem
            padding-top 0
            padding-bottom 0
            margin 0 auto
            @media screen and (max-width: 800px)
                display none

        &.--comparison
            padding-top 2rem
            padding-bottom 2rem
            padding-left 8rem
            padding-right 8rem
            width 100%
            @media screen and (min-width: 752px) and (max-width: 1280px)
                padding-left 0.2rem
                padding-right 0.2rem
            
            background url(/cat-enclosures-demo/assets/bg.png) no-repeat center center fixed
            background-size cover
        &.--icons
            width 100%
            .icon
                display block
                width 100%
                @media screen and (min-width: 1281px)
                    display inline-block
                    width 19.6%
                @media screen and (min-width: 752px) and (max-width: 1280px)
                    display inline-block
                    width 30.2%
        &.--footer
            background-color #333
        
        &.--values
            text-align center
            text-transform uppercase
            background-color #7DCED6
            color white
        
        &.--contact
            text-align center
            color white
            background-color brand_blue
    
    &__subtitle
        text-align center
        text-transform uppercase
        @media screen and (min-width: 1281px)
            font-size 2rem
        @media screen and (min-width: 752px) and (max-width: 1280px)
            font-size 1.5rem
        @media screen and (max-width: 751px)
            font-size 1rem
    
    &__list
        text-transform uppercase
        @media screen and (min-width: 1281px)
            padding-left 25%
            padding-right 25%
        @media screen and (min-width: 752px) and (max-width: 1280px)
            padding-left 15%
            padding-right 15%
        @media screen and (max-width: 751px)
            padding-left 5%
            padding-right 5%

    &__li
        text-align center
        @media screen and (min-width: 1281px)
            font-size 1rem
        @media screen and (min-width: 752px) and (max-width: 1280px)
            font-size 0.8rem
        font-size 0.7rem

    &__table
        border-collapse collapse
        margin 0 auto
        @media screen and (min-width: 752px) and (max-width: 1280px)
            width 100%

    &__th__cell
        padding 1rem
        min-width 200px
        @media screen and (min-width: 752px) and (max-width: 1280px)
            &:first-child
                width 150px
        &.--blue
            @extend .landing__th__cell
            background-color brand_blue
    
    &__td
        padding 1rem
        &.--blue
            @extend .landing__th__cell
            color white
            background-color brand_blue
            text-align right
        &.--white
            @extend .landing__th__cell
            color #333333
            background-color white
        &.--gray
            @extend .landing__th__cell
            color #333333
            background-color #eeeeee
        &.--caps 
            text-transform uppercase
            text-align center
            font-weight 700

.icons
    &__title
        text-align center
        text-transform uppercase

.signup
    &__title
        color #333333
        text-align center
    &__form
        color #555555
        background-color #ffffff
        background-image none
        border-radius 6px
        border 1px solid #eeeeee
        font-size 13px
        height 3rem
        width 100%

.choose
    &__title
        text-align center
        text-transform uppercase
    &__table
        width 100%
    &__cell
        width 50%
        padding 2em
        text-align center
    &__subtitle
        text-align center
    &__heading
        text-transform uppercase
        display block
        text-align center
        padding 1em
        font-weight 700
    &__image
        width 400px
        height 300px
        overflow hidden
    &__reason
        padding 0.7em 0 0.2em 0

.nav
    &__item
        text-decoration none
        text-transform uppercase
        color #666666
        padding-left 0.5em
        padding-right 0.5em
        display inline-block
        height 4rem
        text-align center
        line-height 4rem
        cursor pointer
        &:hover
            background-color #eeeeee

.testimonials
    &__title
        text-align center
        text-transform uppercase
    &__item
        padding-top 1em
        padding-bottom 1em
    &__name
        font-weight 700
        text-align center
    &__text 
        font-weight 200
        text-align center

.button
    border-radius 6px
    background-color #b26cac
    color white
    width 100%
    height 3rem
    padding 1rem
    margin 3px
    text-transform uppercase
    text-align center
    &.--half
        margin-top 1em
        width 50%
        margin-left 24.5%
    &:hover
        background-color #d685cf
    &.--darker
        background-color #a5679f
        &:hover
            background-color #af6fa9

.footer
    &__links
        list-style none
        padding 0
    
    &__link
        @media screen and (min-width: 1281px)
            display inline-block
            padding 0.4em
        @media screen and (min-width: 752px) and (max-width: 1280px)
            display inline-block
        @media screen and (max-width: 751px)
            display block
            width 100%
            text-align center
            padding 0.2em
    
    &__a
        color gray
        text-decoration none
        &:hover
            color #fefefe
    
    &__copyright
        color #666666

.icon
    text-align center
    &__img
        @extend .icon
        height 4rem
        margin 1rem
    &__text
        @extend .icon
        font-weight 700
    &__body
        @extend .icon

.values
    &__title
        padding 1rem
        @media screen and (min-width: 1281px)
            font-size 2rem
        @media screen and (min-width: 752px) and (max-width: 1280px)
            font-size 1.5rem
        @media screen and (max-width: 751px)
            font-size 1rem
    &__list
        width 100%
        text-align center
    &__subtitle
        padding-top 1em
        font-weight 700
    &__item 
        padding 1rem
        @media screen and (min-width: 1281px)
            width 14rem
            height 14rem
            display inline-block
        @media screen and (min-width: 752px) and (max-width: 1280px)
            width 8rem
            height 8rem
            display inline-block
        @media screen and (max-width: 751px)
            width 100%
            display block
    &__icon
        width 100%
        height 100%
        border-radius 50%
        background-color white
        @media screen and (max-width: 751px)
            height 6rem
            width 6rem
        // @media screen and (min-width: 1281px)
        // @media screen and (min-width: 752px) and (max-width: 1280px)
        // @media screen and (max-width: 751px)

.cell
    background-color #0dc4d6
    text-align center
    color white
    &__header
        @extend .cell
        font-weight 700
    &__price
        @extend .cell
    // &__price
    //     &.--was
    //         @extend .cell
    //         text-decoration line-through
    //         &::before
    //             content "WAS "
    //     &.--is
    //         @extend .cell
    //     